$back-color: linear-gradient(315deg, #c6d2e6 0%, #8a9ca1 74%);
$back-wrap-color: #333;
$shadow-wrapper: 0 0 10px #000;
$orange: rgb(255, 166, 0);
$white: #fff;
$border-color: rgb(197, 197, 197);
$error-color: tomato;
$input-error-color: rgba(0, 137, 250, 0.1);
$black: #000;
$hover-button-color: rgb(28, 33, 36);
