@import "./colors";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1em;
  background-image: $back-color;
}

.wrapper {
  max-width: 440px;
  width: 100%;
  background-color: $back-wrap-color;
  box-shadow: $shadow-wrapper;
}

form {
  padding: 2em;
  font-size: 1.2rem;

  h1 {
    margin-bottom: 1em;
    text-align: center;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 10px;
    color: $orange;
  }

  .formBox {
    margin-bottom: 0.8em;

    label {
      display: inline-block;
      margin-bottom: 0.3em;
      color: $white;
      font-weight: 100;
    }

    input {
      width: 100%;
      padding: 0.5em;
      font-size: 1rem;
      border: 1px solid $border-color;
    }

    &__errorText {
      margin: 5px 0 0 10px;
      font-size: 1rem;
      color: $error-color;
      visibility: hidden;
    }
  }

  .formBox.error {
    input {
      border: 1px solid $error-color;
      background-color: $input-error-color;
    }
  }

  .formBox.error .formBox__errorText {
    visibility: visible;
  }
}

.control-buttons__send,
.control-buttons__clear,
.popup__close {
  display: block;
  padding: 0.8em 0;
  margin: 0.3em;
  width: 100px;
  font-size: 1.2rem;
  background-color: $black;
  color: $orange;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.4s;

  &:hover {
    background-color: $hover-button-color;
  }
}
.control-buttons {
  display: flex;
  justify-content: center;
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em;
  flex-direction: column;
  position: absolute;
  top: -300px;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 200px;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid black;
  transition: top 0.5s;

  &__send {
    font-size: 28px;
  }

  &__close {
    margin-top: 20px;
  }
}

.show-popup {
  top: 250px;
}
